<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
  </head>
  <body>
<div class="">
    <input type="text" name="" id="uname" value="">
    <input type="text" name="" id="upwd" value="">
    <div class="">
      <button type="button" name="button" id="login">登录</button>
    </div>
</div>
<script src="jquery.js" charset="utf-8"></script>
<script type="text/javascript">
$('#login').click(function(){
  var uname = $('#uname').val(),
      upwd = $('#upwd').val();
      $.ajax({
        url : '/login',
        type : 'post',
        data : {
          uname :uname,
          upwd : upwd
        },
        success:function(data){
           console.log(data);
        }
      })
})

</script>
  </body>
</html>
